<div class="jumbotron">
  <h1 class="display-4"><%= t('welcome') %></h1>
  <p class="lead"><%= t('messages.welcome_msg')%></p>
  <hr class="my-4">
  <p><%= t('messages.menu_msg')%></p>
  <%= render"menu" %>

</div>



<h1>Seja bem-vindo!</h1>
<h2><strong><%= nome_aplicacao %></strong></h2>
<h3><strong><%= cookies[:curso]%></strong></h3>
<h3><strong><%= session[:curso]%></strong></h3>


